h1 {
    text-align: center;
}
h2{
    text-align: inherit;
}
h3 {
    text-align: start;
}
.ngk{
    background-image: url("ww.jpg");
  }
  #kk{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.tt{
  background-image: url(qq.jpg);
} 
#oo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#pp{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#ll{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and ( max-width:600px)
 {
  h1{
      font-size: 36px;
      line-height: 50px;

  }
  
}
  
