h1 {
    text-align: center;
}
h2{
    text-align: inherit;
}
h3 {
    text-align: start;
}
.ngk{
    background-image: url("hi.jpg");
  }
  #kk{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
